/*-------- Estilo GERAL ---------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../images/bg-site-allan.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}
.flex {
    display: flex;
}

/*------  Estilo CABEÇALHO -----*/

header {
    padding: 40px 4%;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
}

header nav ul {
    list-style: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 35px;
}

header nav.menu-desktop ul li a {
    font-size: 18px;
    letter-spacing: 1px;
}

header nav.menu-desktop a:hover {
    transform: scale(1.2);
    display: inline-block;
    transition: .3s;
}

.btn-contato button {
    padding: 10px 40px;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.6;
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #fff;
  transform: scale(1.05);
}

/*---- Estilo Topo do site -----*/

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section.topo-do-site .txt-topo-do-site {
    color: #fff;
    font-size: 42px;
    line-height: 70px;
}

section.topo-do-site .txt-topo-do-site h1 span {
    color: aqua;
}

.topo-do-site .img-topo-do-site img {
    width: 500px;
}

.topo-do-site .img-topo-do-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 20px;
    }
}

/*-- Estilo do Sobre mim --*/






